<md-sidenav-container>
	<md-sidenav #sidenav mode="push">
	</md-sidenav>
	<div class="content">
		<md-toolbar color="primary">
			<div class="toolbar-content">
				<h1 routerLink="">Ben Ezard</h1>
				<ul class="links">
					<li routerLink="portfolio" routerLinkActive="current">Portfolio</li>
					<li routerLink="resume" routerLinkActive="current">Resume</li>
					<li routerLink="contact" routerLinkActive="current">Contact</li>
				</ul>

			</div>
		</md-toolbar>
		<router-outlet></router-outlet>
	</div>
</md-sidenav-container>