<div class="resume">
	<div *ngFor="let datum of data">
		<md-card>
			<md-card-title>{{datum.title}}</md-card-title>
			<md-card-content *ngIf="datum.items">
				<md-list>
					<md-list-item *ngFor="let item of datum.items">
						<h4 md-line *ngIf="item.title">{{item.title}}</h4>
						<p md-line *ngIf="item.desc">{{item.desc}}</p>
						<p md-line *ngIf="item.period">{{item.period}}</p>
						<p md-line *ngIf="item.details" class="details" (click)="openDialog(item)">More details</p>
					</md-list-item>
				</md-list>
			</md-card-content>
		</md-card>
	</div>
</div>