<md-card class="title">
	<md-card-title>About Me</md-card-title>
</md-card>
<md-card>
	<md-card-content>
		I am a developer with a keen interest in game development. I attended the University of York, in the United Kingdom, where I received a BSc
		Computer Systems degree.
		<br/><br/>
		Whilst studying, I also founded the university's game development society, DevSoc, which focused both on game development using the Unity game
		engine, as well as game theory.
		<br/><br/>
		I also work on my own open-source cross-platform 2D game engine, called the Dethsquare Engine, which leverages technologies like OpenGL and
		OpenAL (with planned Vulkan support).
		<br/><br/>
		<a href="https://github.com/Ezard"><h3>Github Profile</h3></a>
		<a href="https://stackoverflow.com/users/story/1529266"><h3>Stack Overflow Developer Story</h3></a>
	</md-card-content>
</md-card>